.choose-menu{
    background-color: #e4e4e4;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    @include middle {
        flex-direction: column;
        align-items: center;
    }
    &__left {
        display: flex;
        align-items: center;
        @include middle {
        order: 1;}
    }
    &__button {
        margin: 0 0 0 1em;   
        position: relative;    
         
        @include middle {
            margin: 1em 0;    
          }       
        
    } 
    &__toggle {
        @include phones {
        width: 33%;}
        
    }
    &__right { 
        margin-left: 100px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        @include middle {
            justify-content: center;
            order: 0;
            margin: 0;            
        }
        &:after {
            content: '';
            position: absolute;            
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background-color: black;
            height: 80%;  
            @include middle {
                display: none;}           
        }  
    }
}

.toggle {   
    cursor: pointer;  
    display: flex;
    @include phones{
    justify-content: center;
    }
    
&__checkbox {
    display: none;}
&__img {
    width: 50px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

&__block {      
    width: $switchWidth;
    height: $switchHeight;
    border-radius: 40px;
    margin: 1em 1em 1em 0;
    padding: $padding;
    background-color: $whiteColor;
    transition:  all 1s ease;  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    &:before {
        content: "";
        width: $diameter;
        height: $diameter;
        position: absolute;
        background-color: $whiteColor;
        border-radius: 50%;
        border: 1px solid grey;
        top:$padding;
        transition: all 1s ease;        
    }
}
&__checkbox:checked ~ .toggle__block {
    background-color: $pinkColor;    
    &:before {
        content:"";
        top: ($switchHeight - $padding - $diameter - 2px);
        border: 1px solid transparent;       
        transition: all 1s ease;
    }
}     &__text {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 10;
        position: absolute;
        bottom: $diameter/2;
    }
}



