.s-contacts {
    display: flex;
    margin: 3% 0 0 0;
    background-color: $whiteColor;
    @include tablets {
        width: 100%;
        flex-direction: column;
        align-items: center;
        }

    &__map {
        width: 50%;
        @include tablets {
            width: 100%;
            }
    }
}
.map {
    width: 90%;
    height: 50vh;
    &__group {
        display: flex;
        align-items: center;      
        
    }
    &__hint {
        text-transform: uppercase;       
    }
}
.contacts {    
    display: flex;
    justify-content: flex-start ;
    width: 50%;
    @include tablets {
        width: 100%;
        flex-direction: column;
        }
    &__delivery, &__schedule {
        width: 40%;
        margin-left: 3em;
        @include tablets {
            text-align: center;
            width: 100%;
            margin-left: 0;

        }
    }     
    &__text {
        margin-bottom: 0.5em;
    }
}
.socials {
    text-align: center;
    &:before {
        content: "";
        font-size: 2em;
        border-left: 1px solid gray;        
    }
    &:after {
        content: "";
        font-size: 2em;
        border-left: 1px solid gray
    }
    
    &__link {
        display: block;              
        &:hover {            
            & .socials__icon {
                fill: black;
                transition: all 1s ease;
            }
        }
    }          
    &__icon {
        width: 30px;
        height: 30px;
        fill:grey;     
    }
}