

.o-container {
    width: 75%;
    height: 80vh;
    overflow: auto;
    margin: 10vh auto;
    background-color: $baseColor;
    padding: 2em;
    border-radius: 15px;
    // position: relative;      
    

}
.favorites__cards {
    display: flex;        
    flex-wrap: wrap;
}  
.o-fav__close, .o-delivery__close {
    position: absolute;
    cursor: pointer;
    font-size: 60px;
    top: 2rem;
    right: 1rem;
    line-height: 0;
    color: $whiteColor;        
}