
@font-face {
  font-family: "COCOMAT";
  src: url("../fonts/COCOMAT-Light.woff") format("woff"),
    url("../fonts/COCOMAT-UltraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "COCOMAT";
  src: url("../fonts/COCOMAT.woff") format("woff"),
    url("../fonts/COCOMAT.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "COCOMAT";
  src: url("../fonts/COCOMAT-Bold.woff") format("woff"),
    url("../fonts/COCOMAT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanssemibold.woff") format("woff"),
    url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
