$middle:1000px;
$tablets:768px;
$phones:480px;
$baseColor:#ededed;
$whiteColor:#fff;
$accentColor:#42869b;
$accentColor2:#67c3ce;
$fontColor:#000;
$pinkColor:#ff6b4f;
$diameter: 60px;
$switchWidth: 71px;
$switchHeight: 120px;
$padding: 5px;

